
body {
  color: black;
  background-color: hsl(44, 10%, 78%);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;

}

.header-title {
  font-size: 3rem;

}


/* HEADER NAV */

.header-nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
 
}

/* HEADER NAV LIST ITEMS */
.header-nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.header-page.active {
  color: rgb(97, 97, 97);
}

.header-page:hover, .header-title:hover {
  color: rgb(97, 97, 97);
}



.card {
  display: inline-flex;
  flex-direction: column;
  align-self: flex-start;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgb(153, 153, 153);
  background-color:hsl(48, 19%, 90%);


}

/* Content Main */

.index-content-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.3em;
  gap: 2em;
}

.index-content-left {
  flex: 1 1;
  width: 60%;
  
}

.index-content-right {
  flex: 1 1;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}


/* WORK EXPERIENCE AND EDUCATION */
.work-experience, .education, .git-hub {
  padding: 1rem;


}

.work-experience {
  margin-bottom: 20px;
}




.job, .degree {
 padding-left: 1.5em;
}

.position, .degree-institution {
  padding-left: 1.5em;
}

.position li, .degree-institution li {
  margin: 10px;
}


/* GITHUB */

.git-hub button {
  padding: 1px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #2EA44F;
  color: black;
  font-size: 12px;
  width: 50px;
}

.git-hub h2 button 



.git-hub-cal {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}  

.git-hub img {
  box-shadow: 7px 7px 7px rgb(153, 153, 153);
  width: 100%;
  border-radius: 10px;
}

/* ABOUT */

.about-content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.about-content-main p {
  font-size: 20px;
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* PROJECTS */
.projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;

}

.project {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  justify-content: space-between;
  padding: 2em;
  max-width: 450px;
  height: 500px;
  
}

.project-video {
  aspect-ratio: 16/9;
  width: 100%;

}


.community-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;

}

.card .discord, .card .youtube, .card .linkedin{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  padding: 20px;

  }

.discord .discord-logo, .youtube .youtube-logo, .linkedin .linkedin-logo {
  margin-bottom: 20px;
  margin-top: 5px;
  
}

.discord p, .youtube p, .linkedin p {
  width: 100%;
  word-wrap: break-word;
  text-align: center;
  height: 80px;
}

.discord img, .youtube img, .linkedin img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  
}

.discord button  {
  padding: 5px;
  width: 75px;
  border-radius: 5px;
  cursor: pointer;
  background-color:#5865F2;
  font-size: 15px;
  color: hsl(48, 19%, 90%);


}

.youtube button{
  padding: 5px;
  width: 75px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FF0000;
  font-size: 15px;
  color: hsl(48, 19%, 90%);
 
}
.linkedin button{
  padding: 5px;
  width: 75px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0A66C2;
  font-size: 15px;
  color: hsl(48, 19%, 90%);
 
}

.social-stat {
  font-size: 18px;
}

.card:hover {
  box-shadow: 0px 0px 25px rgb(46, 46, 46);
}

button:hover {
  box-shadow: 0px 0px 10px rgb(46, 46, 46);
}




/* BLOG */

.blog {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  

}

.blog-post {
  display: flex;
  flex-direction: column;
  
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
 
  width: 100%;
  height: auto;
  overflow-x: auto;
  white-space: normal;
  box-sizing: border-box;
  padding: 1rem;
  
}


@media (max-width: 1600px) {

  /* HEADER */
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .header-title, .header-nav {
    margin: 0 auto;
    text-align: center;
  }
  .header-nav {
    justify-content: center;
  }

  .header-nav ul {
    justify-content: center;
    padding-left: 0;
  }
  /* ---------------------------- */

  /* HOME */

  .index-content-main {
    flex-direction: column;
  }

  .index-content-left {
    width: 100%;
  }
  .index-content-right {
    width: 100%;
  }

  .job, .degree {
 padding-left: 0.2em;
}

  .position, .degree-institution {
    padding-left: 0.2em;
  }

  .position li, .degree-institution li {
    margin: 5px;
  }
  .git-hub button {
    padding: 1px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2EA44F;
    font-size: 12px;
    width: 50px;
  }
}