
body {
  padding-left: 7%;
  padding-right: 7%;
  color: black;
  background-color: hsl(0, 0%, 90%);
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;

}

.header-title {
  font-size: 3rem;

}


/* HEADER NAV */

.header-nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
 
}

/* HEADER NAV LIST ITEMS */
.header-nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
}


/* Content Main */

.index-content-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;

  
}

/* Content Left */

.index-content-left {



}

/* Content Right */
.index-content-right {


}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(0, 0, 80%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 7px 7px 15px rgb(101, 101, 101);

}



.job, .degree{
  padding-left: 2rem;
}

.degree, .degree-institution {
  padding-left: 2rem;
}

.job-title, .job-timeframe {
  padding-left: 2rem;
}

.job ul, .degree ul {
  padding-left: 4rem;
}


.git-hub button {
  padding: "5px";
  border-radius: "5px";
  cursor: "pointer";
  background-color: #2EA44F;
}



.git-hub-cal {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}  

