
body {
    padding-left: 2%;
    padding-right: 2%;
    color: black;
}

/* HEADER */

#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* HEADER NAV */

#nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.nav-list-item-text {
    text-decoration: none;
    margin-left: 10px;
    color: black;
    
}


/* WORK EXPERIENCE AND EDUCATION */

.job-container, .degree-container {
    padding-left: 5%;
    margin-bottom: 35px;
}

.job-highlights-list, .degree-highlights-list {
    padding-left: 5%;
}

/* WORK EXPERIENCE */

/* EDUCATION */



